.tab {
  -fx-border-width: 4 4 0 4, 3 3 0 3, 2 2 0 2, 1 1 0 1;
  -fx-border-color:#000000, linear-gradient(#7ebcea, #2f4b8f), linear-gradient(#426ab7, #263e75), linear-gradient(#395cab, #223768);
  -fx-border-insets: 0,1 1 0 1, 2 2 0 2, 3 3 0 3;
  -fx-border-radius: 3 3 0 0, 2 2 0 0, 2 2 0 0, 2 2 0 0;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
  -fx-background-color: linear-gradient(#395cab, #223768);
  -fx-background-insets: 3 3 0 3;
  -fx-background-radius: 2 2 0 0;
  -fx-font-size: 12px;
}

.root {
    -tab-text-color: -fx-text-base-color ;
}

.tab-label {
    -fx-text-fill: -tab-text-color ;
}
